body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom left, #08152b, #222);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    padding: 50px;
    background-color: #333;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 500px;
}

header {
    color: #eee;
    margin-bottom: 20px;
}

footer {
    color: #ddd;
    margin-top: 20px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.projects-grid li {
    border: 4px solid #222;
    border-radius: 10px; /* Rounded corners */
}

.projects-grid li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

.projects-grid li a:hover {
    background-color: #555;
}
