body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #000033, #000022); /* Dark blue/black gradient */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.box {
    background-color: rgba(0, 0, 51, 0.8); /* Dark blue with opacity */
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
}

header {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #555;
}
