@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

body {
  height: 20vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0,1,11);
  background: linear-gradient(58deg, rgba(0,1,11,1) 0%, rgba(0,1,65,1) 100%);
  color: white;
  font-family: 'Archivo Black', sans-serif;
}

.container {
  text-align: center;
  padding: 40px;
  background-color: #333; /* Black */
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  width: 80%;
  max-width: 500px;
}

header {
  color: #fff;
  margin-bottom: 20px;
}

footer {
  color: #ddd;
  margin-top: 20px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 0;
  margin: 0;
}

.project-item {
  border: 2px solid #333; /* Dark blue */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}

.project-item:hover {
  background-color: #171717; /* Dark grey */
  transform: scale(1.15);
}


.projects-grid li {
  border: 2px solid #333; /* Dark blue */
  border-radius: 10px;
}

.projects-grid li a {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

.projects-grid li a:hover {
  background-color: #171717; /* Dark grey */
  transform: scale(1.15);
}
